In [189]:
import pandas as pd
import numpy as np

In [190]:
x =np.array(["A","A","A","B","B","B","C","C"])
y =np.array(["P","Q","P","Q","P","P","Q","Q"])

In [193]:
pd.crosstab(index=x, columns=y)

col_0  P  Q
row_0
A      2  1
B      2  1
C      0  2

In [194]:
pd.crosstab(index=x, columns=y, normalize="all", margins = True)

col_0     P      Q    All
row_0
A      0.25  0.125  0.375
B      0.25  0.125  0.375
C      0.00  0.250  0.250
All    0.50  0.500  1.000

In [195]:
pd.crosstab(index=x, columns=y, normalize="index", margins = True)

col_0         P         Q
row_0
A      0.666667  0.333333
B      0.666667  0.333333
C      0.000000  1.000000
All    0.500000  0.500000

In [196]:
pd.crosstab(index=x, columns=y, normalize="columns", margins = True)

col_0    P     Q    All
row_0
A      0.5  0.25  0.375
B      0.5  0.25  0.375
C      0.0  0.50  0.250