In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import ipywidgets as widgets
from IPython.display import display

In [41]:
sal = pd.read_csv("Exp_salaries.csv")
prd = pd.read_csv("SalsToPredict.csv")

In [3]:
sal.head()

,Salary,Years_Previous_Experience,Years_Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Salary                     46 non-null     int64
 1   Years_Previous_Experience  46 non-null     int64
 2   Years_Employed             46 non-null     int64
 3   Years_Education            46 non-null     int64
 4   Gender                     46 non-null     object
 5   Department                 46 non-null     object
 6   Number_Supervised          46 non-null     int64
dtypes: int64(5), object(2)
memory usage: 2.6+ KB

In [5]:
sal = pd.get_dummies(sal, drop_first=True)

In [32]:
sal.head()

,Salary,Years_Previous_Experience,Years_Employed,Years_Education,Number_Supervised,Gender_Male,Department_B,Department_C,Department_D
0,32782,1,0,7,0,1,0,0,0
1,32920,3,15,9,4,0,0,0,0
2,29548,6,5,1,0,1,0,0,0
3,39828,6,18,5,5,0,0,0,0
4,31528,11,3,3,6,1,0,0,0

In [33]:
y=sal["Salary"]
x=sal.drop(["Salary"],axis=1)

In [34]:
lr = LinearRegression()

In [38]:
lr.fit(x,y)

LinearRegression()

In [63]:
y_pred = lr.predict(x)

In [64]:
print(r2_score(y,y_pred))

0.8530532047266131

In [56]:
'''********************************* prediction on new data *********************************'''

'********************************* prediction on new data *********************************'

In [68]:
prd = pd.get_dummies(prd, drop_first=True)

In [72]:
prd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Years_Previous_Experience  15 non-null     int64
 1   Years_Employed             15 non-null     int64
 2   Years_Education            15 non-null     int64
 3   Number_Supervised          15 non-null     int64
 4   Gender_Male                15 non-null     uint8
 5   Department_B               15 non-null     uint8
 6   Department_C               15 non-null     uint8
 7   Department_D               15 non-null     uint8
dtypes: int64(4), uint8(4)
memory usage: 668.0 bytes

In [69]:
op = lr.predict(prd)
op

array([41580.96463781, 32728.79308495, 43802.57110067, 47392.37984466,
       34529.02167577, 46378.7351934 , 46200.59895126, 49124.42901943,
       50696.58032638, 40974.61274883, 35685.70556868, 38454.35848179,
       33133.62390671, 62047.06606319, 40992.36037071])

In [74]:
print(r2_score(y,y_pred))

0.8530532047266131

In [114]:
def predict_on_test(x1):
    test_data = np.array([[x1]])
    prediction = lr.predict(prd)
    y1_str = "Predicted Salary = " + str(prediction[0])
    display(y1_str);

In [115]:
min_lstat = sal['Years_Previous_Experience'].min()
max_lstat = sal['Years_Previous_Experience'].max()
print((min_lstat,max_lstat))

(0, 19)

In [116]:
w = widgets.interactive(predict_on_test,  
                        x1 = widgets.FloatSlider(value=200,min=min_lstat,
                                                 max=max_lstat,step=0.05,
                                                 description='Years_Previous_Experience:',disabled=False,
                                                 continuous_update=True))
display(w)

interactive(children=(FloatSlider(value=19.0, description='Years_Previous_Experience:', max=19.0, step=0.05), â€¦

In [10]:
# print(lr.intercept_)

In [11]:
# print(lr.coef_)

In [12]:
# yi^

In [15]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [16]:
# plt.scatter(x, y,color='g') 

# plt.plot(x, y_pred,color='k')

In [17]:
# ins = pd.read_csv("Insure_auto.csv")
# ins.head()

In [18]:
# lr = LinearRegression()
# x = ins[['Home']]
# y = ins['Operating_Cost']
# lr.fit(x,y)
# #print(lr.intercept_)
# #print(lr.coef_)
# y_pred = lr.predict(x)
# print(r2_score(y,y_pred))

In [19]:
# plt.scatter(x, y,color='g') 

# plt.plot(x, y_pred,color='k')

In [20]:
# lr1 = LinearRegression()
# x1 = ins[['Automobile']]
# y1 = ins['Operating_Cost']
# lr1.fit(x1,y1)
# # print(lr1.intercept_)
# # print(lr1.coef_)
# y_pred1 = lr1.predict(x1)
# print(r2_score(y1,y_pred1))

In [21]:
# plt.scatter(x1, y1,color='g') 

# plt.plot(x1, y_pred1,color='k')

In [22]:
# lr = LinearRegression()
# x = ins[['Home','Automobile']]
# y = ins['Operating_Cost']
# lr.fit(x,y)
# #print(lr.intercept_)
# #print(lr.coef_)
# y_pred = lr.predict(x)
# print(r2_score(y,y_pred))

In [23]:
b = pd.read_csv("Boston.csv")
b.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Boston.csv'

In [ ]:
lr = LinearRegression()
x = b.iloc[:,:-1]
y = b['medv']
lr.fit(x,y)
#print(lr.intercept_)
#print(lr.coef_)
y_pred = lr.predict(x)
print(r2_score(y,y_pred))