In [1]:
import ipywidgets as widgets
from IPython.display import display

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
import numpy as np
import os
from sklearn.model_selection import train_test_split
os.chdir(r"C:\Users\admin\Desktop\Mandar")
wedding = pd.read_excel("Weddings.xlsx",usecols="A:F",skiprows=2)

In [5]:
wedding.head()

,Couple's Income,Bride's age,Payor,Wedding cost,Attendance,Value Rating
0,130000,22,Bride's Parents,60700,300,3
1,157000,23,Bride's Parents,52000,350,1
2,98000,27,Bride & Groom,47000,150,3
3,72000,29,Bride & Groom,42000,200,5
4,86000,25,Bride's Parents,34000,250,3

In [6]:
X = weddingwedding[['Wedding cost']]
y = wedding['Attendance']

In [7]:
#x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=50)

In [17]:
lr = LinearRegression()
lr.fit(X, y)
y_pred = lr.predict(X)
print(r2_score(y,y_pred))

0.7063824896230863

In [18]:
X = wedding[['Wedding cost']]
y = wedding['Attendance']
lr = LinearRegression()
lr.fit(X, y)
y_pred = lr.predict(X)
print(r2_score(y,y_pred))

0.5377184992361959

In [19]:
wedding=pd.get_dummies(wedding,drop_first=True)

In [14]:
wedding.head()

,Couple's Income,Bride's age,Wedding cost,Attendance,Value Rating,Payor_Bride's Parents,Payor_Groom's Parents
0,130000,22,60700,300,3,1,0
1,157000,23,52000,350,1,1,0
2,98000,27,47000,150,3,0,0
3,72000,29,42000,200,5,0,0
4,86000,25,34000,250,3,1,0

In [16]:
X = wedding[["Couple's Income","Payor_Bride's Parents","Payor_Groom's Parents"]]
y = wedding['Wedding cost']

lr = LinearRegression()
lr.fit(X, y)
y_pred = lr.predict(X)
print(r2_score(y,y_pred))

0.7063824896230863